# <font color=darkblue>Lab 3: Data Structures  </font>

**Gould, Graysen**

**R11944656**

ENGR 1330 Laboratory 3 - In-Lab

In [1]:
# Preamble script block to identify host, user, and kernel
import sys
! hostname
! whoami
print(sys.executable)
print(sys.version)
print(sys.version_info)

GouldPC
gouldpc\gouldC:\Users\gould\anaconda3\python.exe
3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

## <font color=purple>Data Structures: List </font>
List is one of 4 built-in data types in Python used to store collections of data, the other 3 are Set, Tuple, and Dictionary, all with different qualities and usage.
A list is a collection of data that are somehow related. 
It is a convenient way to refer to a collection of similar things by a single name, and using an index (like a subscript in math)
to identify a particular item.

In engineering and data science we use lists a lot - we often call them vectors, arrays, matrices and such, but they are ultimately just lists.

To declare a list you can write the list name and assign it values. 
The square brackets are used to identify that the variable is a list. 
Like:

    MyList = [7,11,5,9,13,66,99,223]

One can also declare a null list and use the `append()` method to fill it as needed.

    MyOtherList = [ ]
    
Python indices start at ZERO. 
Alot of other lnguages start at ONE. 
Its just the convention. 

The first element in a list has an index of 0, the second an index of 1, and so on.
We access the contents of a list by referring to its name and index. 
For example 

    MyList[3] has a value of the number 9.

In [2]:
MyOtherList = [] #Create an empty list
print(MyOtherList)
MyOtherList.append(765) #Add one item to the list
print(MyOtherList)

MyList = [7,11,5,9,13,66,99,223] #Define a list 
print(MyList)

sublist = MyList[3:6] #slice a sublist
print("sublist is: ", sublist)

mysum = sum(sublist) #sum the numbers in the sublist
print("Sum: ", mysum)

mylength = len(sublist) #get the length of the sublist
print("Length: ", mylength)

[]
[765]
[7, 11, 5, 9, 13, 66, 99, 223]
sublist is:  [9, 13, 66]
Sum:  88
Length:  3

### Example 2
 1. Create a list of the ages of 5 people
 2. Append the age of the 6th person
 3. Get the sum of thelist
 4. Access the age of the 2nd to 4th person in the list
 5. Change the age of the first person

In [3]:
# create ages
ages = [18, 13, 27, 89, 34]

# add an age
ages.append(21)

# print sum of ages
print(sum(ages))

# get sublist of ages
print(ages[1:4])

#update first age
ages[0] += 1
print(f"the age of the first person is now {ages[0]}")

202
[13, 27, 89]
the age of the first person is now 19

---
## Exercise 3.1 (30 marks)

1. What will be the result of the following syntax:<br>
mylist = ['apple', 'banana', 'cherry']<br>
mylist[0] = 'kiwi'<br>
print(mylist[1])<br>

In [4]:
# this code will output "banana" to the terminal

2. True or False. <br>
List items cannot be removed after the list has been created.<br>

In [5]:
# False

3. What will be the result of the following syntax:<br>
mylist = ['apple', 'banana', 'cherry']<br>
print(mylist[-1])<br>

In [6]:
 # this will output "cherry" to the terminal

4. What will be the result of the following syntax: <br>
mylist = ['apple', 'banana', 'cherry'] <br>
mylist.insert(0, 'orange') <br>
print(mylist[1])

In [7]:
# this code will output "apple" to the terminal

5. What will be the result of the following syntax: <br>
   mylist = ['apple', 'banana', 'cherry', 'orange', 'kiwi'] <br>
print(mylist[1:4])

In [8]:
#This will output ['banana', 'cherry', 'orange'] to the terminal

6. What is a correct syntax for adding elements from list2 into list1? <br>
list1.extend(list2) <br>
list1.join(list2) <br>
list1.push(list2) <br>

In [9]:
# list1.extend(list2) is the correct sytax for adding these elements

___

## <font color=purple>Data Structures: Special List | Set</font>
Sets are used to store multiple items in a single variable. <br>
A set is a collection which is unordered, unchangeable*, and unindexed.  <br>
    myset = {"apple", "banana", "cherry"}

---
## Exercise 3.2 (10 marks)

1. True or False. You can access set items by referring to the index. <br>
True <br>
False <br>

In [10]:
# False

2. True or False. <br>
A set cannot have two items with the same value. <br>
True <br>
False

In [11]:
# True

---

## <font color=purple>Data Structures: Special List | Tuple</font>

A tuple is a special kind of list where the values cannot be changed after the list is created. <br>
It is useful for list-like things that are static - like days in a week, or months of a year.<br>
You declare a tuple like a list, except use round brackets instead of square brackets.<br>

    MyTupleName = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")

In [12]:
MyTupleName = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")
print(MyTupleName)
# Tuples
MyTupleName = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")
# Access a Tuple
print ("5th element of the tuple:", MyTupleName[4])

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
5th element of the tuple: May

### Example 2
 1. Create a tuple of the ages of 5 people
 2. Append the age of the 6th person
 3. Get the sum of the tupule
 4. Access the age of the 2nd to 4th person in the tuple
 5. Change the age of the first person

In [13]:
tup_ages = (18, 21, 34, 54, 56)

In [5]:
# it is not possible to add new elements to a tuple, as it is an immutible datatype
#tup_ages.append(23) this code will create an error

In [15]:
#get the sum of the ages
print(sum(tup_ages))

# get the 2nd to the 4th element in the tuple
print(tup_ages[1:4])

183
(21, 34, 54)

In [6]:
# it is not possible to change the first element in the tuple
#tub_ages[0] = 17 this code will create an error

---
## Exercise 3.3 (15 marks)

1. Use the correct syntax to print the number of items in the fruits tuple.<br>
fruits = ("apple", "banana", "cherry")

In [17]:
fruits = ("apple", "banana", "cherry")

fruits_length = len(fruits)

print(f"The number of elements in the fruits tuple is {fruits_length}")

The number of elements in the fruits tuple is 3

2. You cannot change the items of a tuple, but there are workarounds. Which of the following suggestion will work? <br>
Convert tuple into a list, change item, convert back into a tuple. <br>
Convert tuple into a set, change item, convert back into a tuple. <br>
Convert tuple into a dictionary, change item, convert back into a tuple.

In [7]:
# converting the tuple into a list, changing items, then changing back to a tuple is a usable workaround (the first option)
# However, if you want to change the items in a datastructure, why us a tuple?

my_tup = (18,19,20)
my_tup = list(my_tup)
my_tup[0] = 21
my_tup = tuple(my_tup)
print(my_tup)

(21, 19, 20)

3. Which is a correct syntax to delete a tuple? <br>
delete mytuple <br>
mytuple.delete() <br>
del mytuple

In [8]:
# del mytuple is the correct syntax to delete a tuple (third option)

___


    
## <font color=purple>Data Structures: Special List | Dictionary</font>

A dictionary is a special kind of list where the items are related data PAIRS. 
The second item could itself be a list, so a dictionary would be a meaningful way to build a database in Python.

To declare a dictionary using `curly` brackets

    MyPetsNamesAndMass = { "Dusty":7.8 , "Aspen":6.3, "Merrimee":0.03}

To declare a dictionary using the `dict()` method

    MyPetsNamesAndMassToo = dict(Dusty = 7.8 , Aspen = 6.3, Merrimee = 0.03)
    
___
Some examples follow:

In [22]:
MyTupleName = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")
print(MyTupleName)

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [23]:
MyPetsNamesAndMass = { "Dusty":7.8 , "Aspen":6.3, "Merrimee":0.03}
print(MyPetsNamesAndMass)
MyPetsNamesAndMassToo = dict(Dusty = 7.8 , Aspen = 6.3, Merrimee = 0.04)
print(MyPetsNamesAndMassToo)

{'Dusty': 7.8, 'Aspen': 6.3, 'Merrimee': 0.03}
{'Dusty': 7.8, 'Aspen': 6.3, 'Merrimee': 0.04}

## Example 3
1. Create a dictionary of 5 people, with name as key and age as value
2. append the 6th person to the dictionary
3. Print the names (keys)
4. Print the ages (values)

In [34]:
# define dictionary 
age_dict = {"Marie": 18, "Larry": 35, "Robert": 71, "Anna": 23, "Alex": 19}

# add element to dictionary
age_dict["Harry"] = 45
print(age_dict)

print(list(age_dict.keys()))
print(list(age_dict.values()))

{'Marie': 18, 'Larry': 35, 'Robert': 71, 'Anna': 23, 'Alex': 19, 'Harry': 45}
['Marie', 'Larry', 'Robert', 'Anna', 'Alex', 'Harry']
[18, 35, 71, 23, 19, 45]

___
### Example: Nested Dictionary

From the dictionary below, print "Pandemic" and "Tokyo":

In [36]:
FD = {"Quentin":"Tarantino","2020":[2020,"COVID",19,"Pandemic"],"Bond":["James","Gun",("Paris","Tokyo","London")]} #A nested dictionary
print(FD)

print(FD["2020"][3])
print(FD["Bond"][2][1])

{'Quentin': 'Tarantino', '2020': [2020, 'COVID', 19, 'Pandemic'], 'Bond': ['James', 'Gun', ('Paris', 'Tokyo', 'London')]}
Pandemic
Tokyo

In [37]:
FD['2020'][3]

'Pandemic'

In [38]:
FD['Bond'][2][1]

'Tokyo'

In [39]:
FD['Bond']
FD['Bond'][2]
FD['Bond'][2][0]

'Paris'

## Example 4
1. Create a nested dictionary for continents, regions and countries
   * Americas: North America: (USA, Canada,), Central America: (Belize, Costa Rica)
   * Europe: Northern Europe:(Finland, Sweden), West Europe: (UK, Germany)
   * Asia: Central Asia: (China, Japan), East Asia: (India, Iran)
   * Africa : West Africa (Nigeria, Ghana), Southern Africa (South Africa, Zimbabwe)
2. Display Americas
4. Display a North America
5. Add "Mexico" to North America
6. Add South America to the Americas
7. Add Argentina and Brazil to South America

In [49]:
world = {"Americas": {"North America": ["USA", "Canada"], "Central America": ["Belize", "Costa Rica"]},
         "Europe": {"Northern Europ": ["Finland", "Sweden"], "West Europe": ["UK", "Germany"]},
         "Asia": {"Central Asia": ["China", "Japan"], "East Asia": ["India", "Iran"]},
         "Africa": {"West Africa": ["Nigeria", "Ghana"], "Southern Africa": ["South Africa", "Zimbabwe"]}
        }
print(world["Americas"])
print(world["Americas"]["North America"])
world["Americas"]["North America"].append("Mexico")
world["Americas"]["South America"] = []
world["Americas"]["South America"].extend(["Argentina", "Brazil"])

#check what the data structure looks like
print(world)

{'North America': ['USA', 'Canada'], 'Central America': ['Belize', 'Costa Rica']}
['USA', 'Canada']
{'Americas': {'North America': ['USA', 'Canada', 'Mexico'], 'Central America': ['Belize', 'Costa Rica'], 'South America': ['Argentina', 'Brazil']}, 'Europe': {'Northern Europ': ['Finland', 'Sweden'], 'West Europe': ['UK', 'Germany']}, 'Asia': {'Central Asia': ['China', 'Japan'], 'East Asia': ['India', 'Iran']}, 'Africa': {'West Africa': ['Nigeria', 'Ghana'], 'Southern Africa': ['South Africa', 'Zimbabwe']}}

---
## Exercise 3.4 (25 marks)

1. True or False. <br>
Dictionary items cannot be removed after the dictionary has been created.<br>
True<br>
False

In [ ]:
# False

2. True or False.<br>
A dictionary cannot have two keys with the same name.<br>
True<br>
False

In [ ]:
# True

3. x = {'type' : 'fruit', 'name' : 'banana'}<br>
What is a correct syntax for changing the type from fruit to berry?<br>
x{'type'} = 'berry'<br>
x['type'] = 'berry'<br>
x.get('type') = 'berry'

In [9]:
# the correct syntax is x['type'] = 'berry' (the second item)

4. Change the "year" value from 1964 to 2020.<br>
    car =	{ <br>
      "brand": "Ford", <br>
      "model": "Mustang", <br>
      "year": 1964 <br>
    }

In [11]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car["year"] = 2020

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

5. Add the key/value pair "color" : "red" to the car dictionary.<br>
car =	{ <br>
  "brand": "Ford", <br>
  "model": "Mustang", <br>
  "year": 1964 <br>
} <br>

In [12]:
car["color"] = "red"

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

---
## Lab Exercise 3.5 (20 marks)
Ensure you entered your full name and R Number in the top cell<br>
Convert to PDF and submit both PDF and IPYNB

___
## Readings


*Here are some great reads on this topic:* 
- __"Common Python Data Structures (Guide)"__ by __Dan Bader__ available at *https://realpython.com/python-data-structures/<br>
- __"Data Structures You Need To Learn In Python"__ by __Akash__ available at *https://www.edureka.co/blog/data-structures-in-python/ <br>
- __"Data Structures in Python— A Brief Introduction"__ by __Sowmya Krishnan__ available at *https://towardsdatascience.com/data-structures-in-python-a-brief-introduction-b4135d7a9b7d <br>
- __"Everything you Should Know About Data Structures in Python"__ by __ANIRUDDHA BHANDARI__ available at *https://www.analyticsvidhya.com/blog/2020/06/data-structures-python/ <br>
- __"Conditional Statements in Python"__ by __John Sturtz__ available at *https://realpython.com/python-conditional-statements/ <br>
- __"Python If Statement explained with examples"__ by __CHAITANYA SINGH__ available at *https://beginnersbook.com/2018/01/python-if-statement-example/ <br>

*Here are some great videos on these topics:* 
- __"Python: Data Structures - Lists, Tuples, Sets & Dictionaries tutorial"__ by __Joe James__ available at *https://www.youtube.com/watch?v=R-HLU9Fl5ug&t=92s <br>
- __"Python Tutorial for Beginners 5: Dictionaries - Working with Key-Value Pairs"__ by __Corey Schafer__ available at *https://www.youtube.com/watch?v=daefaLgNkw0 <br>
- __"How to Use If Else Statements in Python (Python Tutorial #2)"__ by __CS Dojo__ available at *https://www.youtube.com/watch?v=AWek49wXGzI <br>
- __"Python If Statements | Python Tutorial #10"__ by __Amigoscode__ available at *https://www.youtube.com/watch?v=wKQRmXR3jhc <br>