## list

In [ ]:
mylist1=[1,2,3,4,7,9,8,8,0,"a","b",3.4,2,9,3,"a","Apple","APPLE",10,"P","2a"]
mylist2=[2,5.8,4,8,10.2]
mylist3=[]

In [ ]:
len(mylist1)

#### Count occurances of a certain element

In [ ]:
mylist1.count("a")

#### Add new elements

In [ ]:
mylist2.insert(6,5.5)
mylist2

In [ ]:
mylist1.append("a")
mylist1

In [ ]:
mylist1.append(mylist2)
mylist1

In [ ]:
len(mylist1)

#### Use index to access elements

In [ ]:
## how to use index to pick 5.5 from mylist1?
mylist1[22][5]

#### Sorting elements in a list

In [ ]:
mylist1.sort()

In [ ]:
mylist2.sort()  ## by default sorts in ascending order
mylist2

In [ ]:
alist=["a","A","apple","Bee","b"," ","10"]
alist.sort()
alist

In [ ]:
mylist2.sort(reverse=True)  
mylist2

#### Removing elements

In [ ]:
mylist1.remove("a")
mylist1

In [ ]:
mylist1.clear()
mylist1

Example:

In [ ]:
new=[mylist1[mylist1.index("Apple")]]
new
mylist1.index("Apple")

#### Operations on lists

In [ ]:
s=sum(mylist2)
s

In [ ]:
m=mylist1+mylist2
m

In [ ]:
m2=mylist2*3
m2

## Example:

## tuples

In [ ]:
t=(1,2,3,4,"a","b")
type(t)

In [ ]:
t[2]

In [ ]:
list1=list(t) # create a list with the elements of the tuple t

In [ ]:
list1

In [ ]:
t

In [ ]:
list1.insert(2,5)

In [ ]:
list1

In [ ]:
t=tuple(list1)
t

## dictionary

In [ ]:
n=["John","Alice","William"]
mydict={"Names":n,"Age":[21,26,22],"Group":2,1:0}
mydict

In [ ]:
mydict.keys()  # keys can be strings or numbers

In [ ]:
len(mydict)  # how many keys, i.e. key-value pairs are in the dictionary

In [ ]:
# get the values of a key
a=mydict.get("Names") # also mydict["Names"]
a

In [ ]:
# this wont work
mydict[2]

#### Adding a new key

In [ ]:
mydict

In [ ]:
mydict[""]=[1,2,3,4]

In [ ]:
mydict

#### removing a key

In [ ]:
del mydict["Names"]
mydict

#### Addressing elements in a nested dictionary

In [ ]:
mydict1={"Names":["John","Alice","William",{"New":[0,1,2,3,"Hello"]}],"Age":[21,26,22],"Group":2,1:0}

In [ ]:
# adress and print "Hello" from mydict1
a=mydict1.....
a

## set

In [ ]:
s={1,2,"2a",3,21}
s

In [ ]:
s1={1,1,2,6,3,4,9} 
s1

In [ ]:
s2={4,8,0,5,"b",6,6,3}
s3={"a",10}
s2

In [ ]:
s3

In [ ]:
s=s1.union(s2,s3)

In [ ]:
s

In [ ]:
s=s2.intersection(s1)

In [ ]:
s

In [ ]:
s=s2.intersection(s3)
s

In [ ]:
len(s) # number of elements in a set

### Study more at:

https://www.w3schools.com/python/python_lists.asp

https://www.w3schools.com/python/python_tuples.asp

https://www.w3schools.com/python/python_sets.asp

https://www.w3schools.com/python/python_dictionaries.asp

#### Example 1: Count how many unique characters are there in the given string:

In [17]:
s="You must be the change you wish to see in the world"

#### Example 2: 

Given the temperatures of some days:

    99,98,100,102,101,97,95,94,98,100,104;

get the maximum, minimum and average tempartures.