## For

In [ ]:
# iterating sequence can be a list
for c in [1,"hello",2.5]:
    print(c)
    
print(c)

In [ ]:
# iterating sequence can be a nested list

for w,x,y,z in [[1,2,3,4],[5,6,7,8],[9,10,11,12]]:
    print(w,x,y,z)
    #s=w+x+y+z
    print(w)
    #m_wy=w*y
    #s_xz=x+z
    #print(s,m_wy,s_xz)
    #print("\n")
    #print(i)

In [ ]:
for x in [[1,2,3],[5,6,7,8],[9,10,11,12,13]]:
    print(x[-1])

In [ ]:
#provided a list of strings, print the first and last character of each string in the list
for c in ["first","second","third"]:   
    print(c[0],c[-1])  # note the negative index.

In [ ]:
# iterating sequence can also be a string
for c in "TTU":
    print(c)

In [ ]:
# iterating sequence can be a dictionary too
for i in {"a":[1,2,3],"b":[4,5,6]}: 
    print(i)

In [ ]:
mydict={"a":[1,2,3],"b":[4,5,6]}

for i in mydict:
    print(i,mydict[i])

In [ ]:
for i in {4,1,2,3,1,2}:
    print(i)

## range function 
#### NOTE: range( ) never takes floats as arguments!!!

In [ ]:
for i in range(5):
    print("hello world")

In [ ]:
for i in range(2,6):
    print("i=",i)

In [ ]:
for x in range(12,51,2):
    print("%i*2="%x,x**2)