### Type conversion in python:

Type conversion of data is performed by invoking a function to convert to desired type, as long as the conversion is valid. 

                conversion_function(data_to_be_converted)

Names of the conversion functions are same as the way python displays the types, e.g.:
            
            int(), float(), str(), bool()

In [1]:
x=12.56
y=10
z="happy"

In [2]:
# int to float
n1=float(y)
n1

10.0

In [3]:
# float to int
n2=int(x)
n2

12

In [4]:
# float to str
s1=str(x)
s1
#len(s1)

'12.56'

In [5]:
#int to str
s2=str(y)
s2

'10'

In [6]:
# str to int
n3=int(s1)# try int("z")
print(n3)
type(n3)

ValueError: invalid literal for int() with base 10: '12.56'

In [7]:
# str to float
n4=float(s2)
n4

10.0

In [ ]:
# str to int: CAUTION !!
n5=int(float(input("your age")))
n5

In [ ]:
int(float(input("your age")))

NOTE: type conversion operation doesnt change the original variable,
rather creates a new data with the converted type, which may be saved 
as another variable

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
a=bool(-0.1) #try bool(0)
a

In [ ]:
b=bool(0.0)
b

In [ ]:
c=bool("")
c

In [ ]:
d=bool(" ")
d

In [ ]:
b=True
c=float(b)
d=int(b)
e=str(b)
print("c: ",c);print("d: ",d);print("e: ",e) # you can write multiple lines of codes in same physical line using semicolon

### Practice example:

#### Enter your scores for each item out of 100 and calculate the weighted total:

In [ ]:
quiz=float(input("enter your quiz total: "))
exam=float(input("enter your exam total: "))
assignment=float(input("enter your assignment total: "))
lab=float(input("enter your lab total: "))
project=float(input("enter your project score: "))

In [ ]:
total=0.10*quiz+0.30*exam+0.15*project+0.25*assignment+0.20*lab
total