## Slicing and indexing

###### The indexing method you are learning today is not exclusive for strings but universal in python for indexing any collections of data (e.g. lists, arrays, dataframes etc)

In [ ]:
s4="Hello World!   "
len(s4)

In [ ]:
s4[4]

In [ ]:
s5=s4[3:8]
s6=s4[:5]
s7=s4[6:]
print(s4)
print(s5)
print(s6)
print(s7)

In [ ]:
s4[2:10]

In [ ]:
s4[6:11]

In [ ]:
s4[1:11:3]

In [ ]:
len(s4)

In [ ]:
s4[-1]

In [ ]:
s4[::-1]

## Modification


##### These modification functions are "methods" exclusively defined for the class "string", that means:

1. We cannot apply these methods on objects of any other class (i.e. on non-string variable or data )
2. We cannot call these functions independently, rather we must call them in association with an object of class "string". That is done by the "dot" convention:

                     string_object.string_method(args)



###### You may read more about the dot convention here: https://builtin.com/data-science/dot-notation

In [ ]:
s8=s4.upper()
print(s4)

In [ ]:
s9=s4.lower()
print(s9)

In [ ]:
s10=s4.replace("World","Friends")
s11=s4.replace(" ",",")
print(s10)
print(s11)
print(s4)

In [ ]:
s12=s4[:12].replace(" ",",")
print(s12)
len(s12)

In [ ]:
s13=s4.strip()
s13

In [ ]:
l=len(s13) ## to check if the spaces are really removed
print(l)

In [ ]:
len(s4)

In [ ]:
s="Orange, Apple, Banana, Cherry"
s_new=s.split(", ") 
print(s_new)

In [ ]:
print(type(s_new))

In [ ]:
s.find("Banana") #s4.index()

In [ ]:
s[15:21]

In [ ]:
s.find("a")

## Format

### Example 1

In [ ]:
who_am_i="My name is {}. I am from {}."
print(who_am_i)
len(who_am_i)

In [ ]:
name=input("What is your name? ")
state=input("Which state you are from? ")

In [ ]:
I_am=who_am_i.format(name,state)
print(who_am_i)

### Example 2

In [ ]:
me="I am {} years old"
age=22.5
me.format(age)

### string formatting using % operator: 
(read more at: https://www.geeksforgeeks.org/string-formatting-in-python/)

In [1]:
me="I am %f years old"%22
me

'I am 22.000000 years old'

## Concatenation

In [ ]:
s1="Orange"
s2="Apple"
s3="Banana"
s4=s1+" "+s2+" "+s3
print(s4)

In [ ]:
s1*3

In [ ]:
s1+4

### Practice problems: 
#### (Refer to the link: https://www.w3schools.com/python/python_ref_string.asp)

##### For the given string s, do the followings:
1. Find how many times the character "o","e", "r" and space appears in the string

In [3]:
s="The 22 quick brown fox jumped over the lazy dog"
o="22"
s.count(o)

1

In [4]:
s.count("r")

2

In [5]:
s.count("e")

4

In [6]:
s.count(" ")

9

2. Find the index position of fox

In [7]:
s.find("fox")
# s.index("fox") ## will do the same thing

19

3. Count how many words are there in s

In [8]:
words=s.split(" ") #use space as separator
words

['The', '22', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [9]:
print("There are {} words in s".format(len(words)))

There are 10 words in s